
/**************************************************************************************
 *
 *  BOOTSTRAP partiel
 *
 **************************************************************************************/
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover,.btn:focus{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px;}
.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0;}
.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px;}
.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn-block{display:block;width:100%;padding-left:0;padding-right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-block+.btn-block{margin-top:5px;}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%;}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn-primary{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#006dcc;background-image:-moz-linear-gradient(top, #0088cc, #0044cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);background-image:-o-linear-gradient(top, #0088cc, #0044cc);background-image:linear-gradient(to bottom, #0088cc, #0044cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);border-color:#0044cc #0044cc #002a80;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0044cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#ffffff;background-color:#0044cc;*background-color:#003bb3;}
.btn-primary:active,.btn-primary.active{background-color:#003399 \9;}
.btn-warning{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#faa732;background-image:-moz-linear-gradient(top, #fbb450, #f89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image:-webkit-linear-gradient(top, #fbb450, #f89406);background-image:-o-linear-gradient(top, #fbb450, #f89406);background-image:linear-gradient(to bottom, #fbb450, #f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#ffffff;background-color:#f89406;*background-color:#df8505;}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9;}
.btn-danger{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#da4f49;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#ffffff;background-color:#bd362f;*background-color:#a9302a;}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9;}
.btn-success{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#5bb75b;background-image:-moz-linear-gradient(top, #62c462, #51a351);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));background-image:-webkit-linear-gradient(top, #62c462, #51a351);background-image:-o-linear-gradient(top, #62c462, #51a351);background-image:linear-gradient(to bottom, #62c462, #51a351);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);border-color:#51a351 #51a351 #387038;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#ffffff;background-color:#51a351;*background-color:#499249;}
.btn-success:active,.btn-success.active{background-color:#408140 \9;}
.btn-info{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#ffffff;background-color:#2f96b4;*background-color:#2a85a0;}
.btn-info:active,.btn-info.active{background-color:#24748c \9;}
.btn-inverse{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#363636;background-image:-moz-linear-gradient(top, #444444, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));background-image:-webkit-linear-gradient(top, #444444, #222222);background-image:-o-linear-gradient(top, #444444, #222222);background-image:linear-gradient(to bottom, #444444, #222222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#222222;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#ffffff;background-color:#222222;*background-color:#151515;}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9;}
button.btn,input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px;}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px;}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px;}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px;}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-link{border-color:transparent;cursor:pointer;color:#0088cc;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.btn-link:hover,.btn-link:focus{color:#005580;text-decoration:underline;background-color:transparent;}
.btn-link[disabled]:hover,.btn-link[disabled]:focus{color:#333333;text-decoration:none;}

/**************************************************************************************
 *
 *  POPUP
 *
 **************************************************************************************/
#shadow
{
  display:none;
  background:rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 100;
}

.popup
{
  display:none;
  border-radius:3px;
  background:white;
  box-shadow: 0px 5px 60px rgb(0, 0, 0);
  text-align:left;
  border:none;
  z-index: 101;
}

/**************************************************************************************
 *
 *  REDACTOR
 *
 **************************************************************************************/

  [id^="editor"]
  {
    border:1px solid #DDDDDD;
    border-radius:4px;
    word-wrap: break-word;
  }

  .focus
  {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
  }

  [id^="div_editor"]
  {
    background: none repeat scroll 0% 0% white;
    padding:7px;
    cursor:text;
  }

  [id^="textarea_editor"]
  {
    margin: 0px !important;
    border:none;
    padding:7px;
    resize: none; 
  }

  [id^="div_editor"]:focus
  {
    outline: none;
  }

  [id^="outils"]
  {
    border-bottom:1px solid #BBBBBB;    
    height:33px;
    background: #E8E8E8;
    background: -webkit-linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgb(226, 226, 226) 100%) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgb(226, 226, 226) 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgb(226, 226, 226) 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgb(226, 226, 226) 100%) repeat scroll 0% 0% transparent;
    background: linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgb(226, 226, 226) 100%) repeat scroll 0% 0% transparent;
    padding-left:3px;
  }

  .separateur
  {
    float:left;
    border-left:1px solid #DDDDDD;    
    border-right:1px solid #F1F1F1;    
    width:0px;
    height:33px;
  }

  [id^="outils"] [class^="icon-wysiwyg"]
  {
    cursor:pointer;
    float:left;
    width:25px;
    height:26px;
    margin:4px;
    border:none;
    opacity: 0.6;
  }

  [id^="outils"] [class^="icon-wysiwyg"]:hover
  {
    border:1px solid #98A6BA;
    background-color: rgb(221, 228, 239);
  }

  [id^="outils"] [class^="icon-wysiwyg"]::-moz-focus-inner 
  {
    border:none;
  }

  [id^="outils"] .active
  {
    border:1px solid rgb(181, 181, 181);
    background-color: rgb(221, 221, 221);
  }

  [id^="DIVcolorpicker"],  [id^="DIVbackcolorpicker"]
  {
    position:absolute;
    top:32px;
    left:227px;
    float:left;
    width:260px;
    margin-left:-227px;
    text-align: center;
    background-color: white;
    padding:5px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 2px 4px rgb(204, 204, 204);  
  }

  [id^="DIVformat_"]
  {
    position: absolute;
    top:32px;
    left:0px;
    width:150px;
    background:white;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 2px 4px rgb(204, 204, 204);  
  }

  [id^="DIVformat_"] input
  {
    text-align: left;
    padding:5px;
    cursor: pointer;
    background: none;
    border:none;
    display:block;
    width:100%;
    color:#5C5C5C;
    font-weight: bold;
  }

  [id^="DIVformat_"] input:hover
  {
    color:black;
    background: #F0F0F0;
  }

  .icon-wysiwyg-html
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAbklEQVQ4T2NkoBAwUqifYfAZIAD00n4gVgRiByC+APUiSPwAEMsDsSOSOIoXcGmGBRNWQ2BhQEgzTkNABhCrGashMAOw+g9HFKNYiOwFYgzBcC1yOsAZ0kgxgRFD6AkJlyE4w2nwpUSS8xbFXgAAZpsecfU1G4oAAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-paint
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAa0lEQVQ4T2NkoBAwAvVfAGJ9EswBqTeEqQcZ8B+IQTSxAEU9zABiNWOoI9cAmIv/kxMGF4HOMIA6BWwAJYC2BoBCmyDA5wWioheXAR+AVvMDMYgWxOcMXAYgOx9vQA9jA2CB+BEYgAL4AhEAm4QWC5JBiScAAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-redo
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAjElEQVR4Xq2TXQ2EMBCElwYBSEEC5wAJoAALJwEHVAIoKA6QxE8yD80EJnvhvmTf+s022605mewl+1NIMD/dXUgphOqsmkPg9RzAh4ZcViEFdUwkKuIVEmjSkL3gBhA3CO7u+Su0JKw48EGRLIYIMarOag9Gj6wCFq/MAbNpIGsSDfNnmn/8ui820s0B6TsXTzSQVC8AAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-undo
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAi0lEQVR4XqWTUQ2EMBBEt80JOAlIAAdFAXcK6DlAAhZQABJwcBYqBQdlPkjaBNhm2Une59tsJ1sS5g1GUmYGjhT5gD8p4kAENSDLrlrehCwj+xuxywUrlD0YcuHFyqntCvRX7RtGLtGAYB7KK/imDmQE8GOewIoTWE4dMEPaTN4ktx4P2JSH6H9dOTtu0RoT/c49WwAAAABJRU5ErkJggg==) no-repeat;
  }

  .icon-wysiwyg-alignright
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPElEQVQ4T2NkoBAwAvX/p8QMqhhAiQMYQC7ABYjyGk0NIMprVAlEovyKyzn4woBoL4zGAhUyE1GhjUsRAB/GCgcs5ZFvAAAAAElFTkSuQmCC) no-repeat;
  }

  .icon-wysiwyg-aligncenter
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPklEQVQ4T2NkoBAwAvX/p8QMqhhAiQMYQC5ABsR6B66P6gaQ7B2qBCKx/sbqOvQwIMsLo7FAhcxEcsgjawAAV1gKC91mGsYAAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-alignleft
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAOUlEQVQ4T2NkoBAwAvX/p8QMqhhAiQMYSHEBSC0GoIoBdPMCVotI8QJOA+jmhdFYwBHUWAOGlGgBAIdYCguEZcj4AAAAAElFTkSuQmCC) no-repeat;
  }

  .icon-wysiwyg-justify
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAKUlEQVQ4T2NkoBAwAvX/p8QMqhhAiQMYqOICisNg1AujCYkqKZGihAQAf2YKB/wsoa4AAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-rayer
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAy0lEQVQ4T2NkoBAw4tCfABSPB2IDqPwFIL0AiBeiq0c3QACoYD+SRnT1IIMcgfgDTALdAJAtIJsvAnEDEG+AKgyA8vWhrgC5EAzQDfgPFVcE0g/QrFcA8u9DbRckxwB072B1AcwLIL9OgDoXq0ZcLgAF4gEgBvkVGYDEQIZjjQWYv/HahEsSVzpAV090LOBzBcWxADPgI9AWUFiRFAsJQNX5QAxK2qCABPGxGoArFmDqQSnUAYhxJmWYQpANIIyemUBRiQKIjQWcgQsAnPErEMSJg4wAAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-color
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA9ElEQVQ4T4VTgREBQQz0HejAq4AOvA6oAB1QgVcBOngV0IFXASrwHaACdm/yMycud5nZOZdcNpvIZ524VQh/gIX1LIvkM3kmcf4OklgESyRsFfkK950uGCIo8OhsKBvDX/sxTdBF8AHwDNkLzj7A05km8Pu2xrNHgC3+EeRS3Ur0/VTRaAUlHOtE9gFx/jMbgO9/WqhxHyUIpogfgQtQaAIuTMyYNAGe8sjNzx9iioCLdIoR3BAcGBLu8A9FgdlCaPvI95Z+G5xXIAeoptIt8K5VsDKJe0Apya0aJza0iXWilQJxcxPbEcylcjsTVuWH5GT79gXdIC4RE+2BQQAAAABJRU5ErkJggg==) no-repeat;
  }

  .icon-wysiwyg-bold
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QIOESwWKGqWugAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAA7klEQVQ4y53TPUoEQRAF4G+WTUQNTEwMZkEFwQMY6iEEL2PkMTQx0XMYupgYCAoKs8aCGyz+JDomJYw9s7ONDzroqurXVL1Xhb8otfGFV7x35BTJ43OMkpoZxrjAlR6UqFDHqTCJn2vc4CCXoMI+dnCMt4ifYbn5aNBDOMEDLvEUsT2s5RJ0YZDMzbCneIQlHGIrYtehyEKCUShSYD2IZriPeWS3UOMFn1jFUQw3W4USuzjBR+ROUyXmETRduY27yN1i478qtJRYpAKsRO+bcR9jmmvlCs+N/lt2Hna4L8U3HuctVJGxzr8rPU09AD/ENUF07B2QmQAAAABJRU5ErkJggg==) no-repeat;
  }

  .icon-wysiwyg-format
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZUlEQVQ4T2NkQAUKQG4/EBsAMYiNDzCCJMEEFIA0nAdiAQIaYdIYBmwAyvhj0Qyz5D9UDtlSFBd8ACrgH1ADKPYCKBAvYPEG0WEA8j7IkAnQaJRHCzSCgYgefugaRg1gYBiuYQAAlIMeEW2ZgwcAAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-italic
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAv0lEQVQ4T6WTgQ0BQRREXQWoABWgElSAClAJKkAFqISrABWgAt6/TCRib/df/OQymeybud1kN6v9OVki/4qsF9lUgTE9vpOKcvlPr6dgCz1WYoqadxc0IO+in6j5r0ntYA69VGKNmq9UcIVuKdFBzbsLhpB70UfU/M/EjnCAHigxQs27C9qQF9E31Hxwynawgp4psUDNVyp4QNeVaKLm3QUTyI3oHWq+dEJHOEN3leij5l0FyYcTakndxNjPi7U3ugwaEZ57BHQAAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-underline
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAi0lEQVQ4T2NkoBAwoun/D+Wji8OUYciPGsDAMPjC4AEwvuSBOBCIN6BFcQKQPx+IHwKxAkwO3QsNQIl6IP4AxAVAvBGq0B9ITwBiASBuBGKQOjDAlmAWAMXj0WyHcRcCGSCXwAGuFAdSBML2UJUHgTTIYBBGAbgMwOEATGFc0UjIALg+qhtAyGYMeQAjGB4RHTuqwgAAAABJRU5ErkJggg==) no-repeat;
  }

  .icon-wysiwyg-link
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHElEQVQ4T42RjU0CQRBGoQIt4TpQKgAqUCtQKhArkBKkArADqcCjArUD6IAO9L1zJtlAFm6Tl539+b6dmR0O+o1rrr3CPRi38AK7YQ+9gk+4hb0iGMMBRpcMSvE7gkUYPDGvYHPO4FisqByWcVMzuCTWyFIGNYM3zp7BtH25SUGksGZ+hGXNQHebZOOy3hHxN6T5D/GkNDDtCXzAL2xj7Z6/sAG/0XMzcv+QBlmz35SX7oin0AZ+nfc9d88Mu42yYUvWczD1L5jBGnZejpcj/J80OG5YXmhCqEHXsDA/Mai6x+uKu4ZBl3Y5zMBNu+uFcuTLVXGWYFdt2AMYO3qJ06CJDK6YW3AtZ1/OVPMbFdhMy7AkM1lEXJZ1Ev8BtedKUMpzOn4AAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-unlink
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAp0lEQVR4Xp1SwQkDMQwTN4FH6ggdISN0k46QbpAR0g06UuqHIGAhUirQ49DJsWWDuEGxyndPLnIkI4mL5pls8OjU3+SdngDRkqsUWeXlXrthEZQiHEfMgiljShbyyqGACfIJwnW2NgXtYDaiBhpc3fzFPLVtPKh5sxGDZs2GPM00TDb/rkpXfcGj8+cXCHP2kqyMRd2efSQ/exQtSM2e/d6zX5UGSfMX1TlTjHK41lQAAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-picture
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVQ4T2NkoBAwAvX/p8QMqhoAMowUAHY5sgsIGdAAVF8PxI1ADGLjNSAAqEAAiBcgOQk5rOAWY3MBSON5IFYAYkcgPgA1hGgXwBSC9H0AYkMgfoAlcLB6AWTrfTTFF6AuARkGct18IA7EFQYg59pjsW0DUGwiEK+HGoIzDIhNVLQzAIvrcQphBCIpmuFqqZIXyLIZpgkAb14sAynerUcAAAAASUVORK5CYII=) no-repeat;
  }

  .icon-wysiwyg-unorderedlist
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPElEQVQ4T2NkYGD4D8TIgBGNj5cLUozLAHRxrAbR1ACifEKSf7GZSBUDRmOBqMjCrWg0FhgY8GUmooIXABzHEgvJfImsAAAAAElFTkSuQmCC) no-repeat;
  }

  .icon-wysiwyg-orderedlist
  {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAc0lEQVQ4T2NkgID/UJoRShNNIWsAGYLOJ2gQTQ0gaDtIAcl+RjcVZgAsEEk2FNkFAkDd70l1FcyABqDGBCBeAMQgNnLU4g0LZC8IAlV+QFKN7C2chlA1DIiKNprGAizgSEob+MKApECEeQ05Q5FkANkpEQD2kBYLgmTgBQAAAABJRU5ErkJggg==) no-repeat;
  }

  [class^="icon-wysiwyg"]
  {
    background-position: 4px 4px;
  }

  [class^="color-"]
  {
    cursor:pointer;
    display:inline-block;
    width:15px;
    height:15px;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset !important;
    border:none;
    margin:2px;
  }

.color-1 {
  background-color: #ffffff;
}
.color-2 {
  background-color: #000000;
}
.color-3 {
  background-color: #eeece1;
}
.color-4 {
  background-color: #1f497d;
}
.color-5 {
  background-color: #4f81bd;
}
.color-6 {
  background-color: #c0504d;
}
.color-7 {
  background-color: #9bbb59;
}
.color-8 {
  background-color: #8064a2;
}
.color-9 {
  background-color: #4bacc6;
}
.color-10 {
  background-color: #f79646;
}
.color-11 {
  background-color: #ffff00;
}
.color-12 {
  background-color: #f2f2f2;
}
.color-13 {
  background-color: #7f7f7f;
}
.color-14 {
  background-color: #ddd9c3;
}
.color-15 {
  background-color: #c6d9f0;
}
.color-16 {
  background-color: #dbe5f1;
}
.color-17 {
  background-color: #f2dcdb;
}
.color-18 {
  background-color: #ebf1dd;
}
.color-19 {
  background-color: #e5e0ec;
}
.color-20 {
  background-color: #dbeef3;
}
.color-21 {
  background-color: #fdeada;
}
.color-22 {
  background-color: #fff2ca;
}
.color-23 {
  background-color: #d8d8d8;
}
.color-24 {
  background-color: #595959;
}
.color-25 {
  background-color: #c4bd97;
}
.color-26 {
  background-color: #8db3e2;
}
.color-27 {
  background-color: #b8cce4;
}
.color-28 {
  background-color: #e5b9b7;
}
.color-29 {
  background-color: #d7e3bc;
}
.color-30 {
  background-color: #ccc1d9;
}
.color-31 {
  background-color: #b7dde8;
}
.color-32 {
  background-color: #fbd5b5;
}
.color-33 {
  background-color: #ffe694;
}
.color-34 {
  background-color: #bfbfbf;
}
.color-35 {
  background-color: #3f3f3f;
}
.color-36 {
  background-color: #938953;
}
.color-37 {
  background-color: #548dd4;
}
.color-38 {
  background-color: #95b3d7;
}
.color-39 {
  background-color: #d99694;
}
.color-40 {
  background-color: #c3d69b;
}
.color-41 {
  background-color: #b2a2c7;
}
.color-42 {
  background-color: #b7dde8;
}
.color-43 {
  background-color: #fac08f;
}
.color-44 {
  background-color: #f2c314;
}
.color-45 {
  background-color: #a5a5a5;
}
.color-46 {
  background-color: #262626;
}
.color-47 {
  background-color: #494429;
}
.color-48 {
  background-color: #17365d;
}
.color-49 {
  background-color: #366092;
}
.color-50 {
  background-color: #953734;
}
.color-51 {
  background-color: #76923c;
}
.color-52 {
  background-color: #5f497a;
}
.color-53 {
  background-color: #92cddc;
}
.color-54 {
  background-color: #e36c09;
}
.color-55 {
  background-color: #c09100;
}
.color-56 {
  background-color: #7f7f7f;
}
.color-57 {
  background-color: #0c0c0c;
}
.color-58 {
  background-color: #1d1b10;
}
.color-59 {
  background-color: #0f243e;
}
.color-60 {
  background-color: #244061;
}
.color-61 {
  background-color: #632423;
}
.color-62 {
  background-color: #4f6128;
}
.color-63 {
  background-color: #3f3151;
}
.color-64 {
  background-color: #31859b;
}
.color-65 {
  background-color: #974806;
}
.color-66 {
  background-color: #7f6000;
}
.color-67 {
  background-color: none;
}


#popup_link, #popup_image
{
    width:60%;
    padding:20px;
    background:#EFEFEF;
    text-align:center;
}

#popup_link h1, #popup_image h1
{
    font-size:18px;
    margin-bottom:20px;
}

input.inputlien
{
  margin-top: 7px;
  height:30px;
  width:80%;
}

#popup_link input[type="button"] , #popup_image input[type="button"]
{
    margin-top:20px;
    width:50%;
}

#store_uploadimgjhfgbd img
{
  width:300px;
}
